{% extends "base.html" %}
{% load static %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'webapp:create_product' %}">Add product</a>
</li>
{% endblock %}

{% block content %}
<h1>Product</h1>
<div class="row">
    {% for pro in products %}
        {% if pro.remainder < 1 %}

        {% else %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card text-secondary">
                <div class="card-body">
                    <h5 class="card-title">Product name: {{ pro.product_name }}</h5>
                    <p>Price: {{ pro.price }}$</p>
                    <p>Category: {{ pro.category }}</p>
                    <a href="{{ pro.get_absolute_url }}" class="btn btn-outline-info btn-sm mt-auto d-inline-block w-30">Подробнее</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% empty %}
    {% endfor %}
</div>

{% endblock %}