{% extends "base.html" %}
{% block nav %}

{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Edit/Delete
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'webapp:update_product' product.pk %}">Edit</a></li>
            <li><a class="dropdown-item" href="{% url 'webapp:delete_product' product.pk %}">Delete</a></li>
          </ul>
        </li>
{% endif %}

{% endblock %}

{% block content %}
<br>
<div class="card text-secondary mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><label>Product name:</label>
                    <h3>{{ product.product_name }}</h3></li>
                <li class="list-group-item"><label>Category:</label>
                    <h3>{{ product.category }}</h3></li>
                <li class="list-group-item"><label>Price:</label>
                    <h3>{{ product.price }}</h3></li>
                <li class="list-group-item"><label>Remainder:</label>
                    <h3>{{ product.remainder}}</h3></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <li class="list-group-item"><label>Product description:</label>
                    <h3>{{ product.product_description }}</h3></li>
                <br>
                {% include "partial/item_cart_add_form.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}